[user]
	name = uupaa
	email = uupaa.js@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
	ui = 1
[diff]
	external = ~/dotfiles/git_diff_wrapper
	compactionHeuristic = true
[pager]
	diff =
[core]
	excludesfile = ~/.gitignore_global
[push]
	default = matching
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
