[user]
	name = uupaa
	email = uupaa.js@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
	ui = 1
[diff]
	external = ~/dotfiles/git_diff_wrapper
[pager]
	diff =
[core]
	excludesfile = ~/.gitignore_global
[merge]
	ff = false
[push]
	default = matching
